@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
/*!
 *   AdminLTE v2.3.6
 *   Author: Almsaeed Studio
 *	 Website: Almsaeed Studio <http://almsaeedstudio.com>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/
/*
 * Core: General Layout Style
 * -------------------------
 */
html,
body {
  min-height: 100%;
}
.layout-boxed html,
.layout-boxed body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Layout */
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}
.layout-boxed .wrapper {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: relative;
}
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
#page-wrapper {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
  }

    #page-wrapper:before {
      background: transparent;
      content: '';
      display: block;
      display: none;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10001;
    }

img {
    margin:0 auto;
    max-width: 100%;
    height: auto;

  }
  .overlay {

  }

.content-wrapper {
  min-height: 100%;
  background-color: #f8f8f8;
  z-index: 800;
}

.fixed.layout-boxed .wrapper {
  max-width: 100%;
}

/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.container {
  text-align: center;
  font-size: 1.3vw;
  padding-top: 50px;
}
.container h2{
  font-size: 1.5vw;
  color: #000;
  font-weight: 600;
}
.container p{
  font-size: .9em;
  color: #858585;
}
.container a{
  color: #000;
}
.hovereffect{
  padding-bottom: 50px;
}

@media (max-width: 480px) {
      .container {  
      font-size: 3.4vw;
      padding-top: 30px;
    }
    .container h2{
      font-size: 3.8vw;
      font-weight: 600;
    }
    .container p{
      font-size: 1em;
    }
}

@media (max-width: 767px) {
  .container {  
  font-size: 1em;
  padding-top: 30px;
}
.container h2{
  font-size: 1.3em;
  font-weight: 600;
}
.container p{
  font-size: .8em;
}
  }
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
/* General Links */
a {
  color: #3c8dbc;
}
a:hover,
a:active,
a:focus {
  outline: none;
  /*text-decoration: none;*/
  color: #72afd2;
}

.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
}
.content-header > h1 {
  margin: 0;
  font-size: 24px;
}
.content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}
.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}
@media (max-width: 991px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
  }
  .content-header > .breadcrumb li:before {
    color: #97a0b3;
  }
}

/*
 * Component: Small Box
 * --------------------
 */
.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  font-size: 95px;
}
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}


/* Footer */

  #footer {
    padding: 6em 0 4em 0 ;
    background-color: #1d242a;
    text-align: center;
  }

    #footer .icons {
      font-size: 1.25em;
    }

      #footer .icons a {
        color: rgba(255, 255, 255, 0.5);
      }

        #footer .icons a:hover {
          color: #fff;
        }

    #footer .copyright {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.8em;
      letter-spacing: 0.225em;
      list-style: none;
      padding: 0;
      text-transform: uppercase;
    }

      #footer .copyright li {
        border-left: solid 1px rgba(255, 255, 255, 0.5);
        display: inline-block;
        line-height: 1em;
        margin-left: 1em;
        padding-left: 1em;
      }

        #footer .copyright li:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }

        #footer .copyright li a {
          color: inherit;
        }

          #footer .copyright li a:hover {
            color: #fff;
          }

        @media screen and (max-width: 480px) {

          #footer .copyright li {
            border: 0;
            display: block;
            line-height: 1.65em;
            margin: 0;
            padding: 0.5em 0;
          }

        }

    @media screen and (max-width: 980px) {

      #footer {
        padding: 4em 3em 2em 3em ;
      }

    }

    @media screen and (max-width: 736px) {

      #footer {
        padding: 3em 2em 1em 2em ;
      }

    }

/*Icon*/
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon > .label {
      display: none;
    }

    .icon.major {
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-radius: 3px;
      border: solid 2px #fff;
      display: inline-block;
      font-size: 1.35em;
      height: calc(3em + 2px);
      line-height: 3em;
      text-align: center;
      width: calc(3em + 2px);
    }

      .icon.major:before {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: inline-block;
        font-size: 1.5em;
      }

      @media screen and (max-width: 736px) {

        .icon.major {
          font-size: 1em;
        }

      }

    .icon.style1 {
      color: #00ffcc;
    }

    .icon.style2 {
      color: #00f0ff;
    }

    .icon.style3 {
      color: #76ddff;
    }

/*List*/
/* List */

  ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
  }

    ol li {
      padding-left: 0.25em;
    }

  ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
  }

    ul li {
      padding-left: 0.5em;
    }

    ul.alt {
      list-style: none;
      padding-left: 0;
    }
  
  ul.alt li {
    border-top: solid 1px #fff;
    padding: 0.5em 0;
    }

      ul.alt li:first-child {
        border-top: 0;
        padding-top: 0;
      }

    ul.icons {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }

      ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
      }

        ul.icons li:last-child {
          padding-right: 0 !important;
        }

      ul.icons.major {
        padding: 1em 0;
      }

        ul.icons.major li {
          padding-right: 3.5em;
        }

          @media screen and (max-width: 736px) {

            ul.icons.major li {
              padding: 0 1em !important;
            }

          }

    ul.actions {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }

      ul.actions li {
        display: inline-block;
        padding: 0 1.5em 0 0;
        vertical-align: middle;
      }

        ul.actions li:last-child {
          padding-right: 0;
        }

      ul.actions.small li {
        padding: 0 0.75em 0 0;
      }

      ul.actions.vertical li {
        display: block;
        padding: 1.5em 0 0 0;
      }

        ul.actions.vertical li:first-child {
          padding-top: 0;
        }

        ul.actions.vertical li > * {
          margin-bottom: 0;
        }

      ul.actions.vertical.small li {
        padding: 0.75em 0 0 0;
      }

        ul.actions.vertical.small li:first-child {
          padding-top: 0;
        }

      ul.actions.fit {
        display: table;
        margin-left: -1.5em;
        padding: 0;
        table-layout: fixed;
        width: calc(100% + 1.5em);
      }

        ul.actions.fit li {
          display: table-cell;
          padding: 0 0 0 1.5em;
        }

          ul.actions.fit li > * {
            margin-bottom: 0;
          }

        ul.actions.fit.small {
          margin-left: -0.75em;
          width: calc(100% + 0.75em);
        }

          ul.actions.fit.small li {
            padding: 0 0 0 0.75em;
          }

      @media screen and (max-width: 736px) {

        ul.actions li {
          display: block;
          padding: 1em 0 0 0;
          text-align: center;
          width: 100%;
        }

          ul.actions li:first-child {
            padding-top: 0;
          }

          ul.actions li > * {
            margin: 0 auto !important;
            max-width: 30em;
            width: 100%;
          }

            ul.actions li > *.icon:before {
              margin-left: -1em;
            }

        ul.actions.small li {
          padding: 0.5em 0 0 0;
        }

          ul.actions.small li:first-child {
            padding-top: 0;
          }

      }

  dl {
    margin: 0 0 2em 0;
  }


/*
 * General: Miscellaneous
 * ----------------------
 */
  .pad {
    padding: 10px;
  }
  .margin {
    margin: 10px;
  }
  .margin-bottom {
    margin-bottom: 20px;
  }
  .margin-bottom-none {
    margin-bottom: 0;
  }
  .margin-r-5 {
    margin-right: 5px;
  }
  .inline {
    display: inline;
  }
  .description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  .description-block.margin-bottom {
    margin-bottom: 25px;
  }
  .description-block > .description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
  }
  .description-block > .description-text {
    text-transform: uppercase;
  }
  .bg-red,
  .bg-yellow,
  .bg-aqua,
  .bg-blue,
  .bg-light-blue,
  .bg-green,
  .bg-navy,
  .bg-teal,
  .bg-olive,
  .bg-lime,
  .bg-orange,
  .bg-fuchsia,
  .bg-purple,
  .bg-maroon,
  .bg-black,
  .bg-red-active,
  .bg-yellow-active,
  .bg-aqua-active,
  .bg-blue-active,
  .bg-light-blue-active,
  .bg-green-active,
  .bg-navy-active,
  .bg-teal-active,
  .bg-olive-active,
  .bg-lime-active,
  .bg-orange-active,
  .bg-fuchsia-active,
  .bg-purple-active,
  .bg-maroon-active,
  .bg-black-active,
  .callout.callout-danger,
  .callout.callout-warning,
  .callout.callout-info,
  .callout.callout-success,
  .alert-success,
  .alert-danger,
  .alert-error,
  .alert-warning,
  .alert-info,
  .label-danger,
  .label-info,
  .label-warning,
  .label-primary,
  .label-success,
  .modal-primary .modal-body,
  .modal-primary .modal-header,
  .modal-primary .modal-footer,
  .modal-warning .modal-body,
  .modal-warning .modal-header,
  .modal-warning .modal-footer,
  .modal-info .modal-body,
  .modal-info .modal-header,
  .modal-info .modal-footer,
  .modal-success .modal-body,
  .modal-success .modal-header,
  .modal-success .modal-footer,
  .modal-danger .modal-body,
  .modal-danger .modal-header,
  .modal-danger .modal-footer {
    color: #fff !important;
  }
  .bg-gray {
    color: #000;
    background-color: #d2d6de !important;
  }
  .bg-gray-light {
    background-color: #f7f7f7;
  }
  .bg-black {
    background-color: #111111 !important;
  }
  .bg-red,
  .callout.callout-danger,
  .alert-danger,
  .alert-error,
  .label-danger,
  .modal-danger .modal-body {
    background-color: #dd4b39 !important;
  }
  .bg-yellow,
  .callout.callout-warning,
  .alert-warning,
  .label-warning,
  .modal-warning .modal-body {
    background-color: #f39c12 !important;
  }
  .bg-aqua,
  .callout.callout-info,
  .label-info,
  .modal-info .modal-body {
    background-color: #00c0ef !important;
  }
   .alert-info{
    background-color: #039bc0 !important;
   }
  .bg-blue {
    background-color: #0073b7 !important;
  }
  .bg-light-blue,
  .label-primary,
  .modal-primary .modal-body {
    background-color: #3c8dbc !important;
  }
  .bg-green,
  .callout.callout-success,
  .alert-success,
  .label-success,
  .modal-success .modal-body {
    background-color: #00a65a !important;
  }
  .bg-navy {
    background-color: #001f3f !important;
  }
  .bg-teal {
    background-color: #39cccc !important;
  }
  .bg-olive {
    background-color: #3d9970 !important;
  }
  .bg-lime {
    background-color: #01ff70 !important;
  }
  .bg-orange {
    background-color: #ff851b !important;
  }
  .bg-fuchsia {
    background-color: #f012be !important;
  }
  .bg-purple {
    background-color: #605ca8 !important;
  }
  .bg-maroon {
    background-color: #d81b60 !important;
  }
  .bg-gray-active {
    color: #000;
    background-color: #b5bbc8 !important;
  }
  .bg-black-active {
    background-color: #000000 !important;
  }
  .bg-red-active,
  .modal-danger .modal-header,
  .modal-danger .modal-footer {
    background-color: #d33724 !important;
  }
  .bg-yellow-active,
  .modal-warning .modal-header,
  .modal-warning .modal-footer {
    background-color: #db8b0b !important;
  }
  .bg-aqua-active,
  .modal-info .modal-header,
  .modal-info .modal-footer {
    background-color: #00a7d0 !important;
  }
  .bg-blue-active {
    background-color: #005384 !important;
  }
  .bg-light-blue-active,
  .modal-primary .modal-header,
  .modal-primary .modal-footer {
    background-color: #357ca5 !important;
  }
  .bg-green-active,
  .modal-success .modal-header,
  .modal-success .modal-footer {
    background-color: #008d4c !important;
  }
  .bg-navy-active {
    background-color: #001a35 !important;
  }
  .bg-teal-active {
    background-color: #30bbbb !important;
  }
  .bg-olive-active {
    background-color: #368763 !important;
  }
  .bg-lime-active {
    background-color: #00e765 !important;
  }
  .bg-orange-active {
    background-color: #ff7701 !important;
  }
  .bg-fuchsia-active {
    background-color: #db0ead !important;
  }
  .bg-purple-active {
    background-color: #555299 !important;
  }
  .bg-maroon-active {
    background-color: #ca195a !important;
  }
  [class^="bg-"].disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
  }
  .text-red {
    color: #dd4b39 !important;
  }
  .text-yellow {
    color: #f39c12 !important;
  }
  .text-aqua {
    color: #00c0ef !important;
  }
  .text-blue {
    color: #0073b7 !important;
  }
  .text-black {
    color: #111111 !important;
  }
  .text-light-blue {
    color: #3c8dbc !important;
  }
  .text-green {
    color: #00a65a !important;
  }
  .text-gray {
    color: #d2d6de !important;
  }
  .text-navy {
    color: #001f3f !important;
  }
  .text-teal {
    color: #39cccc !important;
  }
  .text-olive {
    color: #3d9970 !important;
  }
  .text-lime {
    color: #01ff70 !important;
  }
  .text-orange {
    color: #ff851b !important;
  }
  .text-fuchsia {
    color: #f012be !important;
  }
  .text-purple {
    color: #605ca8 !important;
  }
  .text-maroon {
    color: #d81b60 !important;
  }
  .link-muted {
    color: #7a869d;
  }
  .link-muted:hover,
  .link-muted:focus {
    color: #606c84;
  }
  .link-black {
    color: #666;
  }
  .link-black:hover,
  .link-black:focus {
    color: #999;
  }
  .hide {
    display: none !important;
  }
  .no-border {
    border: 0 !important;
  }
  .no-padding {
    padding: 0 !important;
  }
  .no-margin {
    margin: 0 !important;
  }
  .no-shadow {
    box-shadow: none !important;
  }
  .list-unstyled,
  .chart-legend,
  .contacts-list,
  .users-list,
  .mailbox-attachments {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .list-group-unbordered > .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .flat {
    border-radius: 0 !important;
  }
  .text-sm {
    font-size: 12px;
  }
  .description-block .description-icon {
    font-size: 16px;
  }
  .no-pad-top {
    padding-top: 0;
  }
  .position-static {
    position: static !important;
  }
  .list-header {
    font-size: 15px;
    padding: 10px 4px;
    font-weight: bold;
    color: #666;
  }
  .list-seperator {
    height: 1px;
    background: #f4f4f4;
    margin: 15px 0 9px 0;
  }
  .list-link > a {
    padding: 4px;
    color: #777;
  }
  .list-link > a:hover {
    color: #222;
  }
  .font-light {
    font-weight: 300;
  }
  .user-block:before,
  .user-block:after {
    content: " ";
    display: table;
  }
  .user-block:after {
    clear: both;
  }
  .user-block img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .user-block .username,
  .user-block .description,
  .user-block .comment {
    display: block;
    margin-left: 50px;
  }
  .user-block .username {
    font-size: 16px;
    font-weight: 600;
  }
  .user-block .description {
    color: #999;
    font-size: 13px;
  }
  .user-block.user-block-sm .username,
  .user-block.user-block-sm .description,
  .user-block.user-block-sm .comment {
    margin-left: 40px;
  }
  .user-block.user-block-sm .username {
    font-size: 14px;
  }
  .img-sm,
  .img-md,
  .img-lg,
  .box-comments .box-comment img,
  .user-block.user-block-sm img {
    float: left;
  }
  .img-sm,
  .box-comments .box-comment img,
  .user-block.user-block-sm img {
    width: 30px !important;
    height: 30px !important;
  }
  .img-sm + .img-push {
    margin-left: 40px;
  }
  .img-md {
    width: 60px;
    height: 60px;
  }
  .img-md + .img-push {
    margin-left: 70px;
  }
  .img-lg {
    width: 100px;
    height: 100px;
  }
  .img-lg + .img-push {
    margin-left: 110px;
  }
  .img-bordered {
    border: 3px solid #d2d6de;
    padding: 3px;
  }
  .img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
  }
  .attachment-block {
    border: 1px solid #f4f4f4;
    padding: 5px;
    margin-bottom: 10px;
    background: #f7f7f7;
  }
  .attachment-block .attachment-img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    float: left;
  }
  .attachment-block .attachment-pushed {
    margin-left: 110px;
  }
  .attachment-block .attachment-heading {
    margin: 0;
  }
  .attachment-block .attachment-text {
    color: #555;
  }
  .connectedSortable {
    min-height: 100px;
  }
  .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .sort-highlight {
    background: #f4f4f4;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
  }
  .full-opacity-hover {
    opacity: 0.65;
    filter: alpha(opacity=65);
  }
  .full-opacity-hover:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .chart {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .chart svg,
  .chart canvas {
    width: 100% !important;
  }

