/* responsive.css */

@media screen and (max-width: 480px) {
  .container {
    font-size: 3.4vw;
    padding-top: 30px;
  }
  .container h2 {
    font-size: 3.8vw;
    font-weight: 600;
  }
  .container p {
    font-size: 1em;
  }
  footer{
    position: static;
  }
  footer .copyright .alright{
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .container {
    font-size: 1em;
    padding-top: 30px;
  }
  .container h2 {
    font-size: 1.3em;
    font-weight: 600;
  }
  .container p {
    font-size: .8em;
  }
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
  .content-header>h1{
    text-align:center;
  }
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 1024px) {
  .col-empty{
    display: none;
  }
  .modal .table .col-url{
    display: none;
  }
  .modal .table .col-label{
    max-width: 150px;
  }
}

@media screen and (min-width: 981px) {
  footer{
    position: absolute;
    width: 100%;
    bottom:0;
  }
}
